@charset "UTF-8";

html{
    /* A cada 1rem = 10px*/
    font-size: 62.5%;
    font-family: Lato, Arial, sans-serif;
}

body{
    font-size: 1.6rem;
}

.main-container{
    display: flex;
    flex-direction: column;
}

header{
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.coverage-container{
    margin: 32px 64px;
}

.info-container h2{
    text-align: center;
    color: #0BA360; 
    font-size: 1.6rem;
    text-transform: uppercase;
}

.value{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.flex-2-row{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-2-col{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.line-chart{
    max-width: 460px;
    max-height: 460px;
}

.flex-2-col .info-container{
    margin:10px 40px;

}